@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
	--bg: #111;
	--fg: #222;
	--fg-light: #333;
	--text: #fff;
	--accent: #FE0;
	--accent-text: #000;
	--content-width: 800px;
}

body {
	margin: 0;
	background-color: var(--bg);
}

body, input, button, textarea {
	font-family: 'Rubik', sans-serif;
	color: var(--text);
	word-wrap: break-word;
}

a {
	color: inherit;
}

.bigTitle {
	text-align: center;
	font-size: 5em;
}

@media screen and (max-width: 800px) {
	.bigTitle {
		font-size: max(10vw, 2.2em);
	}
}